@font-face {
    font-family: 'OpenSans';
    src: url('./fonts/OpenSans-VariableFont_wdth\,wght.ttf') format('trueType');
}
:root {
    --font-color: #C12822;
    --font-family: 'OpenSans';
    --img-max-width: 400px;
    --main-color: #C12822;
    /* --vertical-spacing: 50px; */
    --small-font-size: 25px;
    --link-size: 30px;
    --main-gap: 50px;
    --big-gap: 100px;
}

html {
    scroll-behavior: smooth;
}

body {
    margin-top: 0;
    color: var(--font-color);

    font-family: var(--font-family);
    /* maybe i need to use media query for this... */
    margin-left: 20vw;
    /* margin-right: 20vw; */
}

body, header {
    margin-right: 20vw;
    /* margin-left: 20vw; */
}

section {
    /* margin-top: 50px; */
}

header {
    height: 40px;
    top: 0;
    right: 0;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: right;
    background-color: white;
    z-index: 100;
    gap: 20px;
}

/* header button { */
header a {
    background: none;
    border: none;
    font-family: var(--font-family);
    color: var(--font-color);
    cursor: pointer;
    font-size: var(--small-font-size);
    animation: 0.8s headerAnimation;
}

p {
    margin-top: 0;
}

hr {
    background-color: var(--font-color);
    border: none;
    height: 1px;
    margin-bottom: var(--vertical-spacing);
    margin-top: var(--vertical-spacing);
}
h1 {
    margin-top: 40px;
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

i {
    font-size: 75px;
}

i.icon {
    font-size: var(--link-size);
}

.project-img {
    max-width: var(--img-max-width);
    object-fit: cover;
    transition: transform 0.3s;
}

.project-img:hover {
    transform: scale(1.05);
}

.content-container {
    padding-top: 50px;
    padding-bottom: 50px;
    box-sizing: border-box;
    min-height: 100vh;

    /* hide content */
    opacity: 0;
    transform: translateY(50px);
    transition: 
        opacity 0.7s ease,
        transform 0.7s ease
}

.content-container.active {
    opacity: 1;
    transform: translateY(0);
}

.intro-container {
    padding-top: 200px;

}

.project-container {
    margin-bottom: 80px;
}

.project-container-bottom {
    display: flex;
    flex-direction: row;
    gap: var(--main-gap);
}

.about-container-bottom {
    display: flex;
    flex-direction: column;
    gap: 200px;
}



@keyframes headerAnimation {
    from {transform: translateX(50%)};
    to {transform: translateX(0)};
}

.tech-icons-container {
    float: right;
    display: grid;
    grid-template-columns: repeat(5, 75px);
    gap: 40px;
}
.icon {
    width: var(--link-size);
}

.link {
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.8s ease
}

.link.active {
    opacity: 1;
}

.link.active:hover {
    opacity: 50%;
}

a:link, a:visited {
    text-decoration: none;
    color: var(--font-color);
}

